%input-label {
  height: 30px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
}

%button {
  color: $font-color;
  background-color: $accent-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: block;
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 32px;
}
