$transition-fuction: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;

$main-font: "Jost", sans-serif;
$secondary-font: "Commissioner", sans-serif;

$accent-color: #e4b3b3;
$font-color: #000000;
